<div class="card" style="width:400px">
    <img class="card-img-top" src="images/phorest-logo.svg" alt="Card image" width="25px">

    <div class="card-body">
        {{#each this.card as |cardItem|}}
        <h4>
            {{component
                this.cardComponent
                item=cardItem
            }}
        </h4>
        {{/each}}

        <button {{action "createVoucher"}}>
            Create voucher
        </button>

    </div>

</div>

{{!-- {{#if this.isEmpty}}
<div class="list-empty bg-dark">
    No records to show...
</div>
{{/if}}

{{#if this.isLoading}}
{{loading-spinner}}
{{/if}} --}}


{{#if showVoucherForm}}
{{voucher-amount-input
    client=createVoucherService.currentClient
}}
{{/if}}