<div class="card" id="clientInfoCard">
    <div class="card-horizontal">
        <div class="img-square-wrapper">
            <img id="profileImage" src="images/profile.png" alt="Human profile in circle">
        </div>
        <div class="card-body" id="clientCardBody">
            {{#each this.card as |cardItem|}}
            <div>
                {{component
                this.cardComponent
                item=cardItem
            }}
            </div>
            {{/each}}
        </div>
    </div>

</div>
