<form class="searchInputs">
  <div class="form-group row" id="searchInputsFormGroup">
    <label class="col-sm-2 col-form-label">E-mail:</label>
    <div class="col-sm-4">
      <input type="email" class="form-control" id="email-search" placeholder="Search client by email">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Phone:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="phone-search" placeholder="Search client by phone number" >
    </div>
     <button type="button" class="btn btn-primary" id="searchButton" {{action "search"}}>Search</button>
  </div>

</form>