{{yield}}

<form class="form-inline">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Username">
    </div>

    <div class="input-group">
        <input type="text" class="form-control" placeholder="Password">
    </div>

    <button class="btn btn-success" type="submit">Sign In</button>
</form>




