<div class="row">
    <div class="col-md-12 col-lg-12">
        <form id="voucherInputForm">
            <div class="row">
                <div class="col">
                    <label for="voucher-issue-date">Issue Date</label>
                    <input type="date" class="form-control" id="voucher-issue-date">
                </div>

                <div class="col">
                    <label for="voucher-expiry-date">Expiry Date</label>
                    <input type="date" class="form-control" id="voucher-expiry-date">
                </div>
            </div>
            <div class="form-group">
                <label for="voucherAmount"><span id="testVoucherInputRendered">Amount</span></label>
                <input type="text" class="form-control" id="voucherAmount" placeholder="Amount">
            </div>
        </form>
    </div>
</div>

<div class="row form-toolbar">
    <div class="col">
        <button type="button" class="btn btn-primary" id="createVoucherButton2"  {{action "createVoucher"}}>
            E-mail to Client
        </button>
    </div>
</div>
