<div class="voucher-card">
    <h5 class="voucher-card__heading">
        Salon Voucher <br>
        Serial Number: {{voucher.serialNumber}}<br>
        Expires: {{voucher.expiryDate}}<br>
        Value: €{{voucher.originalBalance}}
    </h5>
</div>