// Nav bar
.header {
  min-height: 4rem;
  width: 100%;
  background-color:$background-color;
}

.bg-phorest{
  background-color: $background-color;
}

.phorestLogo {
  width: 50%;
}

//Common Mixins
@mixin mobile-margins {
  margin-left: 2%;
  margin-right: 2%;
}
