.ember-application {
  background-color: $offWhite;
}
.header {
  min-height: 4rem;
  width: 100%;
  background-color:$primary;
}

.bg-phorest{
  background-color: $primary;
}

.phorestLogo {
  width: 50%;
}

.loading-icon {
  margin-left: 49%;
}

.btn-secondary{
  color: $white !important;
}

//Common Mixins
@mixin mobile-margins {
  margin-left: 2%;
  margin-right: 2%;
}
