.header {
  min-height: 4rem;
  width: 100%;
  background-color: #6c4c84;
}

.bg-phorest{
  background-color: #6c4c84;
}

//Delete this
.listing {
  margin-top: 15px;
  background-color: #f6f6f6;
  padding: 15px 50px;
  min-height: 200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.listing:hover {
  background-color: #f3f3f3;
}

.listing img {
  height: 100px;
  float: left;
  padding-right: 45px;
  border-radius: 5px;
}

.listing a.image.wide {
  flex: 100%;
  flex-grow: 3;
  max-width: 100%;
  position: relative;
  z-index: 999;
}

.listing .wide img {
  height: initial;
  width: 100%;
  margin-bottom: 30px;
}

.listing .wide small {
  display: none;
}

.listing a.image {
  cursor: pointer;
  margin: auto;
  flex: 25%;
  flex-grow: 1;
}

.listing small {
  float: left;
  display: block;
  text-align: center;
  width: 136px;
}

.listing h3 {
  flex: 100%;
  flex-grow: 2;
}

.listing h3 a {
  display: inline;
}

.listing .map-container {
  flex-grow: 1;
  flex: 25%;
}

.listing .map {
  height: 180px;
  width: 200px;
}

.listing .details {
  flex-grow: 2;
  flex: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-around;
}

.listing .detail {
  flex: 50%;
  font-weight: 300;
  font-style: italic;
}

.listing .detail span {
  font-weight: 400;
  font-style: normal;
}

.show-listing {
  display: flex;
  flex-direction: column;
  width: calc(100% - 100px);
}

.show-listing>* {
  flex-basis: 100%;
}

.show-listing .content {
  display: flex;
  flex-direction: row;
}

.show-listing .content>* {
  flex-basis: 50%;
}

.show-listing .title {
  margin-bottom: 15px;
  flex-grow: 2;
}

.show-listing .detail-section {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.show-listing .owner {
  margin-top: 10px;
}

.show-listing .rental-pic {
  width: 100%;
  height: initial;
  position: static;
}

.show-listing .content .description {
  flex-grow: 2;
  display: flex;
  align-items: center;
}

/**
 * Utilities
 */

.light {
  font-weight: 300;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hidden {
  display: none;
}

.relative {
  position: relative;
}

.tomster {
  background: url(../assets/images/teaching.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  position: relative;
  top: -50px;
}