.client-card {
    width: 50%;
    margin-left: 25%;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

#profileImage{
    width: 80%;
    margin-top: 7%;
    margin-left: 7%;
}

#clientInfoCard {
    border-radius: 8px;
}

.fa {
    margin-right: 2%;
}

 // Mobile style
@media screen and (min-width: $mobile) and (max-width: $laptop) {
    .client-card {
        width: 100%;
        margin-left: 0%;
    }

    #clientCardBody {
        padding: 0%;
    }

    #profileImage {
        display:none;
    }
    #clientInfoCard {
        @include mobile-margins;
    }
    #createVoucherButton{
        margin-bottom: 2%;
    }
}
