#client-input {
  margin-top: 2%;
  margin-left:25%;
  width: 50%;
}

.searchInputs{
 margin-top:2%;
 margin-left:25%;
}

.col-form-label {
  text-align: end;
}

#buttonRow {
  margin-left: 43%;
}

@media screen and (min-width: $mobile) and (max-width: $laptop) {
  .searchInputs{
    margin-left:2%;
    margin-right: 2%;
   }
   .col-form-label {
    text-align: left;
  }
  #buttonRow {
    margin-left: 0%;
  }
  #searchButton{
    margin-top: 2%;
    margin-left: 4%;
  }
  #searchInputsFormGroup{
    margin-bottom: 0%;
  }
}