@media screen and (min-width: $mobile) and (max-width: $laptop) {
    .voucherInputForm{
        margin-left: 2%;
        margin-right: 2%;
    }
    #createVoucherButton2{
        margin-left: 2%;
    }
}

