#voucherCard {
  display: flex;
  background-color: $primary;
  color:$white;
  padding: 15px;
  margin-top: 2%;
  border-radius:12px;
}

#voucherLeft{
  border-right: 1px solid $white;
}

#phorestLogo {
  margin-top:30%;
  margin-bottom:30%;
  width:95%;
}

#voucherError{
  margin-top: 2%;
}

 // Mobile style
 @media screen and (min-width: $mobile) and (max-width: $tablet) {
  #voucherLeft{
    border-right: 0px;
  }
  
  #phorestLogo {
    margin-top:0%;
    margin-bottom:0%;
  }
}

// iPad
@media screen and (min-width: $tablet) and (max-width: $laptop) {

  #voucherLeft{
    border-right: 1px solid $white;
  }
  
  #phorestLogo {
    margin-top:30%;
    margin-bottom:30%;
  }
}
