<nav class="navbar navbar-right bg-phorest">
    <a class="navbar-brand" href="#">
        <img src="images/phorest-logo.svg" alt="logo" style="width:150px;">
    </a>

    <SignInInputs />

</nav>

{{client-search-bar
    searchClient=(action "searchClient")
}}

{{#if searchComplete}}
{{client-info
    class="client-card"
    card=this.model.clients
    isLoading=this.isLoadingClients
    cardComponent="card/client-card"
}}


{{/if}}
