<nav class="navbar navbar-right bg-phorest">
    <a class="navbar-brand" href="#">
        <img class="phorestLogo" src="images/phorest-logo.svg" alt="Acorn inside purple circle Phorest logo">
    </a>
</nav>

{{client-search
    searchClient=(action "searchClient")
}}

{{#if this.model.clients}}
{{#if searchComplete}}
{{client-info
    class="client-card"
    card=this.model.clients
    cardComponent="client-card"
}}
{{/if}}
{{else}}
<h5 class="clientSearchError">No clients found</h5>
{{/if}}




